/* Font */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Encode+Sans:wght@500&family=PT+Serif&family=Raleway:ital@0;1&display=swap");

/* Icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/* CSS Variabel */
:root {
    --orange: rgba(255, 151, 76, 1);
    --merah: rgba(255, 67, 67, 1);
    --abu-abu: rgba(240, 240, 248, 1);
    --abu-abu2: rgb(126, 121, 121);
    --abu-abu3: rgba(248, 247, 251, 1);
    --font-txt: "Encode Sans", sans-serif;
    --weight-txt-header: 700;
    --size-txt-header: 40px;
}

/* Warna txt & baground orange */
.txt-orange {
    color: var(--orange) !important;
}

.txt-merah {
    color: var(--merah) !important;
}

.txt-abu {
    color: var(--abu-abu2) !important;
}

.bg-abu-abu {
    background-color: var(--abu-abu) !important;
}
.bg-abu-abu2 {
    background-color: var(--abu-abu2) !important;
}

.bg-abu-abu3 {
    background-color: var(--abu-abu3) !important;
}

.bg-orange {
    background-color: var(--orange) !important;
}

/* font txt */
.font-txt {
    font-family: var(--font-txt);
}

/* Ketebalan txt Header */
.font-header {
    font-weight: var(--weight-txt-header);
}

/* Ukuran Txt-Header */
.font-size {
    font-size: var(--size-txt-header);
}

body {
    background-color: rgb(240, 240, 248);
}

/* link */
a {
    text-decoration: none;
}
